body {
	color: white;
	background-color: #3A539B;
	font-family: 'VT323', monospace;
	text-align: center;
	padding-top: 20px;
}

h2 {
	margin: 5px 0;
}

.hidden {
	display: none !important;
}

.border-wrapper {
	overflow: hidden;
	display: inline-block;
	margin: 0 auto;
	border: 15px solid white;
	border-image: url(http://m.rgbimg.com/cache1sbAIW/users/x/xy/xymonau/600/nsCYj08.jpg) 30 30 round;
}

#game {
	background-color: #000;
}

.wrapper {
	width: 100%;
}

.score-contents h3 {
	display: inline-block;
	margin: 10px  30px;
}

#finished-remark {
	padding-top: 20%;
	font-size: 3em;
}

#game-options {
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
}

.option-buttons {
	border: none;
  outline: none;
  margin: 0 auto;
  background-color: #e67e22;
  padding: 10px 20px;
  font: inherit;
  font-size: 1.5em;
  color: #fff;
	cursor: pointer;
}

.option-buttons:hover {
	background-color: #d35400;
}

#game-options #play-again {
	margin-top: 30px;
	display: none;
}

#mobile {
	display: none;
}


@media screen and (max-width: 700px) {
	#game {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	#desktop {
		display: none;
	}

	#title-board {
		display: inline-block;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 101;
	}

	#title-board img {
		display: none;
	}

	#title-board h2, #title-board h3 {
		position: relative;
		display: block;
		text-align: left;
		margin: 0;
		padding: 0;
		font-size: 1em;
	}

	#game-options {
		z-index: 5;
	}

	#finished-remark {
		font-size: 2em;
	}


	.border-wrapper {
		border: none;
		height: 100%;
		width: 100%;
	}
}